{{#> layout js="main" }}
	<div class="pointer"></div>
	<div class="preloader is-animating"></div>
	<div class="letters">
		<img class="letters__bg" data-src="/assets/images/letter-sprite.png" />
	</div>
{{/layout}}