<head>
	<meta charset="UTF-8">
	<title>Fuel Your Titan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style class="js-initialStyles">

		/* Body starts at 0 opacity to fade in the site once all styles and JS are loaded. */
		body {
			background-color: #99D5D6;
			opacity:0;
		}

		/* Disabled transitions to make sure there's no weird animations happening when actual CSS is appended to the DOM */
		* {
			-webkit-transition:none !important;
			transition:none !important
		}
	</style>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>