<head>
	<meta charset="UTF-8">
	<title>Fuel Your Titan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style class="js-initialStyles">

		/* Body starts at 0 opacity to fade in the site once all styles and JS are loaded. */
		body {
			background-color: #fff;
			opacity:0;
		}

		/* Disabled transitions to make sure there's no weird animations happening when actual CSS is appended to the DOM */
		* {
			-webkit-transition:none !important;
			transition:none !important
		}
	</style>
	<link href="/assets/styles/{{ js }}.css" type="text/css" rel="stylesheet" />
	<meta name="viewport"content="initial-scale=1,maximum-scale=1,user-scalable=no">
</head>