<head>
	<meta charset="UTF-8">
	<title>Fuel Your Titan</title>
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/796780/7594152/css/fonts.css" />
    <meta name="google-signin-client_id" content="698081521401-ll1uc8id71cqg8odkhmmjue153fod61k.apps.googleusercontent.com	">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style class="js-initialStyles">

		/* Body starts at 0 opacity to fade in the site once all styles and JS are loaded. */
		body {
			opacity:0;
		}

		/* Disabled transitions to make sure there's no weird animations happening when actual CSS is appended to the DOM */
		* {
			-webkit-transition:none !important;
			transition:none !important
		}
	</style>
</head>